.items_between {
  display: flex;
  justify-content: space-between;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.text_lg {
  font-size: 2rem;
  font-weight: 800;
}

.text_xl {
  font-size: 2.5rem;
  font-weight: 800;
}

.text_xxl {
  font-size: 3rem;
  font-weight: 800;
}

.text_center {
  text-align: center;
}