:root {
  --grey-900: 201, 45%, 11%;
  --grey-800: 202, 32%, 15%;
  --grey-700: 200, 26%, 18%;
  --grey-600: 199, 35%, 19%;
  --grey-500: 199, 35%, 28%;
  --grey-400: 199, 35%, 40%;
  --grey-300: 209, 22%, 45%;
  --grey-100: 209, 22%, 78%;
  --light: 198, 56%, 86%;

  --white: 0, 0%, 100%;

  --green-800: 178, 78%, 31%;
  --green-600: 178, 60%, 48%;

  --yellow-700: 39, 83%, 44%;
  --yellow-500: 39, 88%, 58%;

  --sky-800: 189, 86%, 44%;
  --sky-600: 189, 86%, 48%;
  --sky-500: 189, 76%, 54%;

  --blue-800: 209, 83%, 41%;
  --blue-500: 209, 73%, 51%;

  --o-token: hsl(var(--sky-800));
  --x-token: hsl(var(--blue-800));

  --hue: 144;
  --saturation: 100%;
  --lightness-primary: 51%;
  --lightness-secondary: 44%;
  --lightness-shadow: 55%;
  --lightness-border: 34%;
  --lightness-outline: 82%;

  --drt-speed: .3s;
  --drt-normal: .8s;
  --bounce-bezier: cubic-bezier(0.215, 0.61, 0.355, 1);

  color-scheme: dark light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

html {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

button {
  border: none;
  cursor: pointer;
  line-height: 1;
  background-color: transparent;
}

ul, li {
  list-style: none;
}

#root {
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(var(--grey-800));
  color: hsl(var(--grey-300));
  font-family: 'Rubik', sans-serif;
  padding: 1.5rem 1rem;
}

body:has(.ModalOpen) {
  overflow: hidden;
}

.o-icon {
  color: var(--o-token);
}

.x-icon {
  color: var(--x-token);
}